.fixed {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 999999999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.absolute {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.075);
}

.contain {
  z-index: 99999999999;
  height: 400px;
  width: 650px;
}
