.container{
    width: 30vw;
    max-height: 80vh;
    background-color: #ffffff;
    z-index: 232324;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Poppins";
    color: grey;
    overflow-y: scroll;
    overflow-x: hidden;
    justify-content: center;
    padding: 2vw;
}
.container::-webkit-scrollbar{
    height: 0;
}
.title{
    margin-top: 2vh;
    font-weight: 900;
    font-size: 1.2em;
    color: black;
    margin-bottom: 2vh;
}
.sub{
    font-size: 0.8em;
}

.row{
    display: flex;
    width: 90%;
    margin: 1vh 3vw;
    justify-content: space-around;
}
.name{
    font-size: 0.7em;
    display: flex;
    color: rgb(85, 83, 83);
    font-weight: 600;
    align-items: center;
    margin-top: 1em;
}
.inputDiv{
    width: 100%;
    background-color: #ffffff;
    border-radius: 12px;
    border:1px solid #8f8d8d5d;
    margin-top: 12px;
    display: flex;
    align-items: center;
}
.input{
    border: none;
    background-color: transparent;
    height: 4vh;
    width: 80%;
    border-radius: 2px;
}
.input:focus{
    outline: none;
}
.column{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.column2{
    display: flex;
    flex-direction: column;
    width: 70%;
}
.center{
    width: 100%;
     display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 60vh;
    justify-content: center;
}
.buttons{
    display: flex;
    padding: 2vh 0;
    width: 20vw;
    justify-content: space-between;
}
.save{
    width: 5vw;
    text-align: center;
    padding: 1vh 2vw;
    border-radius: 10px;
    background-color: #EA7C69;
    color: white;
}
.cancel{
    width: 5vw;
    text-align: center;
    padding: 1vh 2vw;
    border-radius: 10px;
    color: #EA7C69;
    border:1px solid #EA7C69
}
.top{
    width: 100%;
    border: 1px solid rgba(128, 128, 128, 0.137);
    padding: 1vw;
}
.top2{
    width: 100%;
    border: 1px solid rgba(128, 128, 128, 0.137);
    padding: 1vw;
    margin: 2vh;
}
.contact{
    font-weight: 900;

}
.rupee{
    padding:0 0.5em;
    border-right: 1px solid gainsboro;
}

.dropdown{
    width: 100%;
    border:1px solid #8f8d8d5d;
   
    margin: 1em 0;
}