.container {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  z-index: 99999;
  top: 0;
  left: 0;
  justify-content: flex-end;
  align-items: flex-end;
}
.absolute {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: rgba(95, 90, 90, 0.13);
  left: 0;

  display: flex;
}
.contain {
  width: 65%;
  height: 93%;
  background-color: #16181a;
  z-index: 999999;
  margin: 0.2em;
  border-radius: 15px;
}
