.container {
  display: flex;
  overflow: hidden;
  width: 400px;
  flex-wrap: wrap;
  margin-top: 2em;
  align-items: initial;
  justify-content: left;
  height: fit-content;
}
.name {
  color: rgba(255, 255, 255, 0.788);

  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1px;
}
.icon {
  margin: 0.2em 0.5em 0 0;
  height: 25px;
  width: 25px;
}
.mapcontain {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.displayflex {
  display: flex;
  background-color: #202326;
  border-radius: 5px;
  padding: 0.2em 1em;
  margin: 0.2em 0.3em;
}
