.container {
  width: 100%;
  padding: 1em;
  border: 1px solid rgba(220, 220, 220, 0.151);
  border-radius: 16px;
}
.container1 {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
.customer1 {
  padding-left: 0.1em;
  color: white;
}
.customer2 {
  text-align: center;
  color: white;
}

.barcontian {
  margin-left: -1em;
  transform: rotate(270deg);
  margin-top: -6em;
  border-left: 0.2px dashed rgba(255, 255, 255, 0.377);

  padding-left: 0.2em;
}

.progressbar {
  margin: 0.8em 1em;
}

.daylist {
  display: flex;
  flex-direction: row;
  color: rgba(255, 255, 255, 0.493);
  padding-top: 2em;
  margin-left: 0.4em;
}
.daystyle {
  width: 13.28%;
  text-align: center;
  font-size: 10px;
}
