.container{
    width: 100%;
    padding-bottom: 2vh;
    display: flex;
    font-family: "Poppins";
    justify-content: space-between  ;
}
.left{
    display: flex;
    width: 70%;
    background-color: #16181A;
    border-radius: 20px;
    flex-direction: column;
    padding-bottom: 2vh;
    
  
}
.right{
    display: flex;
    width: 26%;
    background-color: #16181A;
    border-radius: 20px;
    flex-direction: column;
    margin-right: 3%;
    padding-bottom: 2vh;
  
}
.title{
    
   font-size: 1.2em;
    line-height: 120%;
  
}
.icons{
    display: flex;
    width: 35%;
    justify-content: space-between;
    animation: righty 0.7s linear;
    overflow: hidden;
   
}

@keyframes righty {
        from {
           width: 0%;
        }
        to{
            width:35%;
        }
}
.iconColumn{
    display: flex;
    flex-direction: column;
     align-items: center;
    justify-content: space-between;
}
.iconName{
    font-size: 0.6em;
}
.top{
    margin-top: 3vh;
    margin-left: 3%;
    display: flex;
    width: 95%;
    justify-content: space-between;
}
.box{
    border:1px solid #7F7B7B;
    border-radius: 10px;
    padding: 3% 0%;
    width: 23%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.rupee{
    font-weight: 900;
    font-size: 0.9em;
}
.desc{
    font-size: 0.7em;
    line-height: 180%;
    color: #E2E2E2;
    letter-spacing: 0.005em;
    font-weight: 200;
}

/* Lower Table */

.division{
    width: 100%;
    display: flex;
    flex-direction: column;
   margin-top: 20px;
    border-radius: 10px;
    height: 84%;
    overflow: scroll;
}
.division::-webkit-scrollbar{
    height: 0;
}
.search{
    width: 95%;
    height: 80px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    margin: 1vw 1vw 0.4vw 0;
   
    margin-left: 2vw;
}
.search2{
    width: 93%;
    padding: 1.5% ;
    display: flex;
    flex-direction: row;
    margin-left: 2vw;
    border: 1px solid #7F7B7B ;
    border-radius: 10px;
    align-items: center;
    font-size: 0.9em;
    color: #ffffff83;
}
.search3{
    width: 93%;
    padding: 0 1.5% ;
     height: 40px;
    display: flex;
    flex-direction: row;
    margin-top: 11px;
    margin-left: 2vw;
    align-items: center;
    border-bottom: 1px solid rgba(220, 220, 220, 0.089);
    font-size: 0.7em;
}
.searchDiv{
    width: 88%;
    height: 40px;
    display: flex;
    align-items: center;
   background-color: #252836;
    border-radius: 10px;
}
.id{
    width: 5%;
    text-align: center;
}
.code{
    width: 25%;
    text-align: center;
}
.offers{
    width: 15%;
    text-align: center;

}
.start{
    width: 15%;
    text-align: center;

}
.input{
    border: none;
    height: 40px;
    width: 100%;
    border-radius: 10px;
    background-color: #252836;
}
.input:focus{
    outline: none;
}
.logo{
    margin-left: 1vw;
    height: 100%;
    display: flex;
    align-items: center;
}
.rightIcons{
    display: flex;
    flex-direction: row;
    margin-top: 1vw;
    width: 8vw;
    justify-content: space-around;
}
.time{
    margin-top: 2vh;
    margin-left: 2vw;
    font-size: 1em;
    font-weight: 600;
    width: 100%;
}
.arrival{
    border:1px solid #1f1e1e41; 
    width: 90%;
    padding:2%;
    margin-top: 2%;
    font-size: 0.7em;
    font-weight: 900;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-items: center;
}
.arrival2{
    border:1px solid #1f1e1e41; 
    width: 43%;
    padding:2%;
    margin-top: 2%;
    font-size: 0.6em;
    font-weight: 900;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-items: center;
}
.sub2{
    font-size: 0.8em;
    color: rgb(175, 175, 175);
    font-weight: 100;
}
.timer{
    border-radius: 100%;
    border:6px solid green;
    width: 10vw;
    height: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2vw 0;
}
.overtime{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.line{
    flex:10
}
.dot{
    flex:2
}
.pallete{
    display: flex;
    flex-direction: row;
    flex: 1;
    margin-left: 2vw;
    margin-top: 1vw;
}
.message{
    width: 75%;
    margin-left: 2vw;
    border-radius: 12px;
     display: flex;
    flex-direction: column;
   align-items: center;
   
}
.message2{
    width: 75%;
    margin-left: 2vw;
    border-radius: 12px;
     display: flex;
    flex-direction: column;
   align-items: center;
  
}
.line{
    border-right: 1px solid orange;
    min-height: 7vh;        
    transform: translate(-50%);
}
.line2{
    border-right: 1px solid orange;
    min-height: 9vh;        
    transform: translate(-50%);
}
.division3{
    display: flex;
    flex-direction:column;
    width:100%;
    justify-content: space-between;
    padding-top: 2vh;
    font-family: 'Poppins';
    font-weight: 600;
    
  font-size: 0.7em;
}
.icons{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.divison{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    padding-top: 2vh;
    font-family: 'Poppins';
    color: rgb(51, 51, 51);
    
}
.divison1{
    color: rgb(51, 51, 51);
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    padding-top: 2vh;
    font-family: 'Poppins';
    
}

.whiteDiv{
    width: 25vw;
    margin-top: 0.6vh;
    height: 2.5vh;
    font-size: 13px;
    overflow: hidden;
    color: #9e9e9e;
}

.timeline{
    width: 100%;
}