.container{
    width: 60%;
    height: 50%;
    background-color: #16181A;
    z-index: 213123;
    border-radius: 20px;
    overflow: hidden;
    overflow-y: scroll;
}

.container::-webkit-scrollbar{
    height: 0;
    width: 0;
}