.container {
  display: flex;
  background: #16181a;
  border-radius: 10px;
  color: #f6f6f6;
  width: 100%;
  background-color: #16181a;
  display: flex;
  flex-direction: column;

  height: 18.5vh;
}

.graph {
  width: 90%;
  height: 80%;
  margin-bottom: 2%;
}
.header {
  display: flex;
  justify-content: space-between;
  width: 100%;

  padding: 0.4em 0 0 0.4em;
}
.title {
  font-weight: 500;

  margin-left: 1em;
}
.dropdown {
  display: flex;
  flex-direction: row;
  margin-right: 1em;
}

.icon {
  margin: 0.4em 0 0 2em;
}
