.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100vh;
    color: white;
    font-family: 'Poppins';
}


.title{
    display: flex;
    margin-top: 4%;
    margin-left: 5%;
    flex-direction: column;
   font-size: 30px;
}

.employee{
    margin: 2vh 0 0 5vw;
    font-size: min(20px,2vw);
    display: flex;
    flex-direction: row;
    font-weight: 600;
}
.list{
    margin-right: 2vw;
    cursor: pointer;
}

.mainDiv{
    display: flex;
    flex-direction: row;
    width:100%;
    margin-top: 32px;
    flex-wrap: wrap;
 
}
.red{
    color: tomato;
}
.subDiv{
    width: 45%;
    height: 230px;
    background-color: #16181A;
    margin: 2%;
    border-radius: 20px;
    box-shadow: 1px 3px 10px black;
}
.image{
    width: 50px;
    height: 50px;
    border-radius: 100%;

}
.topRow{
    margin-top: 3%;
    margin-left: 3%;
    display: flex;
    flex-direction: row;
    align-items: center;

}
.nameBar{
    margin-left: 4%;
    width: 65%;
}
.review{
    font-size: 10px;
    color: gray;
}
.google{
    display: flex;
    justify-content: flex-end;
}
.desc{
    display: flex;
    width: 100%;
    justify-content: center;
    height: 40%;
    font-size: 12px;
    overflow: hidden;
    color: rgb(179, 177, 177);
    margin-top: 2%;
}
.desc2{
    width: 90%;
}