.rowNull{
    display: flex;
    flex-direction: row;
    width: 34vw;
    margin-bottom: 1%;
    justify-content: space-between;
     font-size: 18px;
    font-weight: 600;
    color: white;
    font-family: 'Poppins';
    cursor: default;
    align-items: flex-end;
}
.rowNull1{
    display: flex;
    flex-direction: row;
    width: 54vw;
    margin-bottom: 1%;
    cursor: default;
    justify-content: space-between;
    margin-left: 2vw;
    font-size: 21px;
    font-weight: 600;
    color: black;
    font-family: 'Poppins';
}
.upperRow{
    width: 90%;
}
.date{
    font-size: 13px;
    font-weight: 100;
    color: #ABBBC2;
}
.singleRow{
  display: flex;
  flex-direction: row;
}
.horizontal{
  width: 62vw;
  border-bottom: 1px solid #393C49;
  margin: 1% 2%;
}
.dialogContent{
    display: flex;
    flex-direction: column;
    padding-top: 1.5vh;
    padding-left: 1.5vw;
}
.amount{
    color: white;
    font-size: min(1.1vw,20px);
    font-weight: 600;
    font-family: 'Poppins';
    margin-top: 5px;
}
.green{
    color: green;
    font-size: 14px;
}
.red{
    color: #D15050;
    font-size: 14px;
}
.name{
    color: #CDCCCC;
    font-size: min(13px,0.8vw);
}
.dialogRow{
    display: flex;
    flex-direction: row;
    width: calc(100% - 1vw);
    margin-left: 1vw;
    justify-content: space-between;
}
.white{
    background-color: white !important;
    color: rgba(0, 0, 0, 0.651) !important;
}
.whiteIcon{
    background-color: #F2F2F2 !important;
   
}
.dialog{
    width: 19%;
    height: 130px;
    background-color: #16181A;
    border-radius: 15px;
}
.iconContainer{
    padding: 2% 3%;
    background-color: #16181A;
    width: max-content;
    border-radius: 4px;
    margin-right: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fArrow{
    margin: 0 5%;
    background-color: #88e0911e ;
    border-radius: 50%;
    padding: 1% 1%;
    display: flex;
    

}
.topDialog{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.container{
    display: flex;
    flex-direction: column;
   width: 100%;
}